
body {
    background-color: #192444;
    color: #DDDDDD;
}

#titulo {
    padding-bottom: 60px;
    padding-top: 20px;

    font-size: 32px;
    font-weight: bolder;    
    text-align: center;
}

#painel {
    height: 482px;
}

#mapa {
    width: 100%;
}

.card {
    background-color: #1F2C56!important;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 20px;
}


.Select, .Select div, .Select input, .Select span {
    background-color: #192444;
    color:#DDDDDD
}

.Select div:hover {
    background-color: #1F2C56;
}


.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: #DDDDDD
}

.p1 {
    font-size: 40px;
    font-weight: bolder;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
    background-image: #000000;
    /* Add custom arrow */
}



p {
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 20px;
    font-weight: bolder;
}











@media (min-width: 1900px){

    .container {
        max-width: 1800px!important;
    }


    }





















